h1{
    font-family: "bebas";
    font-size: 24px;
}
div.menu-payment{
    position: absolute;
    width: 1068px;
    height: 585px;
    left: 25%;
    top: 167px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.arvore{
    position: absolute;
    left: 90%;
    top: 20px;
}
div.formas{
    position: absolute;
    top: -30%;
    left: -15%;
}
div.cartao p{
    margin-top: 5px;
}
div.boleto p{
    margin-top: 10px;
}
.cartao{
    position: absolute;
    width: 138px;
    height: 54px;
    left: 183px;
    top: 218px;
    text-align: center;
    font-size: 32px;
    font-family: "inter";
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.boleto{
    position: absolute;
    width: 138px;
    height: 54px;
    left: 183px;
    top: 281px;
    text-align: center;
    font-size: 32px;
    font-family: "inter";
    background: #CFE2F4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
}
.nome{
    position: absolute;
    left: 30%;
    top: 5%;
    font-size: 12px;
    font-family: "bebas";
}
div.nome input{
    width: 500px;
    height: 41px;
    text-align: center;
    border: 0;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 15px;
}
.data{
    position: absolute;
    top: 20%;
    left: 30%;
}
#data{
    width: 220px;
    height: 41px;
    border: 0;
    text-align: center;
    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 15px;
}
.cep{
    position: absolute;
    top: 0%;
    left: 260px;
}
#cep{
    position: absolute;
    left: 118%;
    top: 40%;
    width: 220px;
    height: 41px;
    border: 0;
    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 15px;
}
.cpf{
    position: absolute;
    left: 30%;
    top: 35%;
}
#cpf{
    width: 220px;
    height: 41px;
    border: 0;
    text-align: center;
    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 15px;
}
.numero{
    position: absolute;
    top: 55%;
    left: 30%;
}
#celular{
    width: 296px;
    height: 41px;
    text-align: center;
    border: 0;
    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 15px;
}
button{
    position: absolute;
    width: 302px;
    height: 70px;
    left: 700px;
    top: 500px;
    color: white;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
    border: 0;
    font-family: "bebas";
    background: #61C90F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}